{% extends 'zombieApocalypse/base.html.twig' %}

{% block body %}
    {{ include('zombieApocalypse/playerStats.html.twig', {'player': player})}}
    <div class="d-flex justify-content-center">
        {% if player.health > 0 %}
            <div class="compass">
                <div class="d-flex justify-content-center">
                    {% if 'N' in directions.direction %}
                        <a class="btn btn-primary direction" href="{{ path('move', {'username': player.username, 'from': 'N'}) }}">N</a>
                    {% else %}
                    <a class="btn direction" style="background-color:transparent;border-color:transparent"></a>
                    {% endif %}
                </div>
                {% if 'W' in directions.direction and 'E' in directions.direction %}
                    <div class="d-flex justify-content-start">
                        <a class="btn btn-primary direction" href="{{ path('move', {'username': player.username, 'from': 'W'}) }}" id="west">W</a>
                        <a class="btn direction" style="background-color:transparent;border-color:transparent"></a>
                        <a class="btn btn-primary direction" href="{{ path('move', {'username': player.username, 'from': 'E'}) }}">E</a>
                    </div>
                {% elseif 'W' in directions.direction %}
                    <div class="d-flex justify-content-start">
                        <a class="btn btn-primary direction" href="{{ path('move', {'username': player.username, 'from': 'W'}) }}" id="west">W</a>
                    </div>
                {% elseif 'E' in directions.direction %}
                    <div class="d-flex justify-content-end">
                        <a class="btn direction" style="background-color:transparent;border-color:transparent"></a>
                        <a class="btn direction" style="background-color:transparent;border-color:transparent"></a>
                        <a class="btn btn-primary direction" href="{{ path('move', {'username': player.username, 'from': 'E'}) }}">E</a>
                    </div>
                {% else %}
                    <a class="btn direction" style="background-color:transparent;border-color:transparent"></a>
                {% endif %}
                <div class="d-flex justify-content-center">
                    {% if 'S' in directions.direction %}
                        <a class="btn btn-primary direction" href="{{ path('move', {'username': player.username, 'from': 'S'}) }}">S</a>
                    {% endif %}
                </div> 
            </div>
        {% else %}
            <h4><a href="{{ path('start_page')}}">Escape</a></h5>
        {% endif %}
    </div>
    <div class="d-flex justify-content-center">
_______________________________________________________________________________</br>
</div>
    {{ directions.situation.statement }}</br>
    {% if equipment != null %}
        You found: {{ equipment.name }} - {{ equipment.condition }}
    {% elseif medicine != null %}
        You found: {{ medicine.name }} - {{ medicine.units }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        function healOne() {
            fetch('{{ path('update_medicine_one', {'username': player.username}) }}')
                .then(function (response) {
                    response.json().then(function (json) {
                        document.getElementById('healthValue').innerText = json.health;    
                        document.getElementById('medicineOneUnits').innerText = json.amount;
                        if(json.amount <= 0){
                            document.getElementById('medicineOne').innerText = '';
                        }   
                    });
                }).catch(function (reason) {
            });
        }
        function healTwo() {
            fetch('{{ path('update_medicine_two', {'username': player.username}) }}')
                .then(function (response) {
                    response.json().then(function (json) {
                        document.getElementById('healthValue').innerText = json.health; 
                        document.getElementById('medicineTwoUnits').innerText = json.amount;  
                        if(json.amount <= 0){
                            document.getElementById('medicineTwo').innerText = '';
                        }     
                    });
                }).catch(function (reason) {
            });
        }
    </script>
{% endblock %}