{% extends 'zombieApocalypse/base.html.twig' %}

{% block body %}
    <audio autoplay loop>
        {# <source src="{{ asset('music/TheHaunting.mp3') }}" type="audio/mpeg"> #}
    </audio>
<div align="center">
    {{ form_start(form) }}

        <h3>{{form_label(form.username)}}</h3>
        {{form_errors(form.username)}}
        {{form_widget(form.username)}}
        </br>
        </br>
        {{form_widget(form.escape)}}

        {{form_rest(form)}}
    {{ form_end(form) }}
</div>
{% endblock %}