<div class="d-flex justify-content-center">
        <div class="d-flex flex-row">
            <div class="stat"><b>Health: </b> <span id="healthValue">{{ player.health }}</span></div>
            <div class="stat"><b>Level: </b>{{ player.level }}</div>
            <div class="stat"><b>Moves: </b>{{ player.moves }}</div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-row">
            <div class="stat">
                <b>Weapon: </b>
                {% if player.weapon != null %}{{ player.weapon.name }} - {{ player.weaponCondition }}/{{player.weapon.maxItemCondition}}{% endif %}
            </div>
            <div class="stat">
                    <b>Armor: </b>
                    {% if player.armor != null %}{{ player.armor.name }} - {{ player.armorCondition }}/{{player.armor.maxItemCondition}}{% endif %}
                </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-row">
            <div class="stat">
                <b>Medicine 1: </b>
                {% if player.medicineOne != null %}
                    {{ player.medicineOne.name }} - <span id="medicineOneUnits">{{ player.medicineOneUnits }}</span>
                    <button  class="btn btn-success" onclick="healOne()">Use</button>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-row">
            <div class="stat">
                <b>Medicine 2: </b>
                {% if player.medicineTwo != null %}
                    {{ player.medicineTwo.name }} - <span id="medicineTwoUnits">{{ player.medicineTwoUnits }}</span>
                    <button  class="btn btn-success" onclick="healTwo()">Use</button>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="d-flex"></div>
        <div class="d-flex flex-row mb-3">
            <div class="p-2"><h4>Good luck, {{ player.username }}...</h4></div>
        </div>
    </div>